:root {
  --color-white: #fff;

  --color-grey: #F7F7F7;

  --color-strong-grey: #9EAAB4;

  --color-blue: #0CB4F1;

  --color-brown: #ACACAC;

  --color-black: #333333;

  --font-inter: Inter,Arial, Helvetica, sans-serif;
}